TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TEST_PHONE_NUMBER=provided_by_challenge
# 1. uvicorn server:app --host 0.0.0.0 --port 8000
# 2. cloudflared tunnel --url http://localhost:8000
MEDIA_STREAM_URL=wss://something-random.trycloudflare.com/media-stream